<section>
	<div class="row">
		 <div class="col">
			 <span>
				 <label for="stress" class="control-label">Stress</label>
                    <input hidden="hidden" value="0" id="stress" name="stress" type="checkbox" /><input value="1" {% if variables.stress is defined and variables.stress == 1  %} checked="checked"{% endif %} id="stress" name="stress" type="checkbox" />
                </span>
		 </div>
	</div>
</section>