<div class="row">
    <div class="col-md-6 border border-dark mr-1 mb-2 pt-1 slightly-bigger-font">


    </div>
    <div class="col-md border border-dark mb-2 pt-1 slightly-bigger-font">
            <textarea
                    class="form-control mention"
                    id="extras"
                    name="extras"
                    rows="5"
                    placeholder="Enter your extras here ...">
                 {{ variables.extras is defined ? variables.extras }}</textarea>
    </div>
</div>
<div class="row">
    <div class="col-md-6 border mb-1 large-font bg-dark text-white font-weight-bold border border-dark mr-1">
        Stress
    </div>
    <div class="col-md border mb-1 large-font bg-dark text-white font-weight-bold border border-dark">
        Consequences
    </div>
</div>
    <div class="col-md border border-dark bigger-font pr-0">
        <div class="row pt-2">
            <div class="col-md-4 font-weight-bold">
                Mild Consequence
            </div>
            <div class="col-md">

            </div>
        </div>
        <div class="row pt-2">
            <div class="col-md-3 font-weight-bold">
                Mild Consequence (Extra)
            </div>
            <div class="col-md-1">
                <input
                        value="1" {% if variables.mild_consequence_extra_active is defined and variables.mild_consequence_extra_active == 1 %}
                    checked="checked"{% endif %}
                        class="form-control"
                        id="mild_consequence_extra_active"
                        name="mild_consequence_extra_active"
                        placeholder=""
                        type="checkbox">

            </div>
            <div class="col-md">
                <input type="text"
                       class="form-control m-0 pl-2" id="mild_consequence_extra"
                       placeholder="..."
                       value="{{ variables.mild_consequence_extra }}"
                       name="mild_consequence_extra"
                >
            </div>
        </div>
        <div class="row pt-2">
            <div class="col-md-4 font-weight-bold">
                Moderate Consequence
            </div>
            <div class="col-md">
                <input type="text"
                       class="form-control m-0 pl-2" id="moderate_consequence"
                       placeholder="..."
                       value="{{ variables.moderate_consequence }}"
                       name="moderate_consequence"
                >
            </div>
        </div>
        <div class="row pt-2 pb-2">
            <div class="col-md-4 font-weight-bold">
                Severe Consequence
            </div>
            <div class="col-md">
                <input type="text"
                       class="form-control m-0 pl-2" id="severe_consequence"
                       placeholder="..."
                       value="{{ variables.severe_consequence }}"
                       name="severe_consequence"
                >
            </div>
        </div>
    </div>
</div>
</div>