.sl-name-field {
    font-size: 2.5rem !important;
    margin-right: 0.5rem !important;
    border-style: solid !important;
    border-width: 1px !important;
    border-color: black !important;
}

.white-background {
    background-color: white !important;
}

.bg-dark {
    background-color: black !important;
}

.dark-header-center {
    background-color: black !important;
    font-weight: bold !important;
    color: white !important;
    text-align: center !important;
    font-size: 2rem !important;
}

.dark-header {
    background-color: black !important;
    font-weight: bold !important;
    color: white !important;
    font-size: 2rem !important;
}

.large-font {
    font-size: 2rem !important;
}

.bigger-font {
    font-size: 1.15rem !important;
}

.slightly-bigger-font {
    font-size: 1.05rem !important;
}

input[type=checkbox] + label {
    cursor: pointer;
    width: 73px;
    height: 62px;
    display: inline-block;
    background: url('https://www.worldanvil.com/uploads/images/c32fca8d4d610ebf95fbaa929f8f03a9.png') no-repeat 0 0;
}

input[type=checkbox]:checked + label {
    background-position: 0 -62px;
}

input[type=checkbox] {
    width: 28px;
    margin: 0;
    padding: 0;
    opacity: 0;
}