<div>
    <div class="row mb-2">
        <div class="col-md-5 sl-name-field">
            {{ variables.name }}
        </div>
        <div class="col-md-2 mr-2">
            <div class="row">
                <div class="col-md bg-dark text-white font-weight-bold border border-dark text-center large-font">
                    Refresh
                </div>
            </div>
            <div class="row">
                <div class="col-md text-center border border-dark large-font">
                    {{ variables.refresh is defined and variables.refresh is not empty ? variables.refresh : 3 }}
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row">
                <div class="col-md bg-dark text-white font-weight-bold text-center border border-dark large-font">FP
                </div>
            </div>
            <div class="row">
                <div class="col-md text-center border border-dark large-font p-0">
                    <input value="{{ variables.fate_points is defined ? variables.fate_points }}"
                           class="form-control m-0 p-0"
                           id="fate_points"
                           name="fate_points"
                           placeholder=""
                           type="number"
                           min=0>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 border mr-1 mb-1 large-font bg-dark text-white font-weight-bold border border-dark">
            Aspects
        </div>
        <div class="col-md border mb-1 large-font bg-dark text-white font-weight-bold border border-dark">
            Skills
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-6 border border-dark mr-1 bigger-font">
            <div class="row">
                <div class="col-md-4 font-weight-bold">
                    High Concept
                </div>
                <div class="col-md m-0 p-0">
                    <input type="text"
                           class="form-control m-0 p-0" id="high_concept"
                           placeholder="Enter aspect ..."
                           value="{{ variables.high_concept is defined and variables.high_concept is not empty ? variables.high_concept : 'Enter aspect ...' }}"
                           name="high_concept"
                    >
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 font-weight-bold">
                    Trouble
                </div>
                <div class="col-md m-0 p-0">
                    <input type="text"
                           class="form-control m-0 p-0" id="trouble"
                           placeholder="Enter aspect ..."
                           value="{{ variables.trouble is defined and variables.trouble is not empty ? variables.trouble : 'Enter aspect ...' }}"
                           name="trouble"
                    >
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md m-0 p-0">
                    <input type="text"
                           class="form-control m-0 p-0" id="character_aspect_1"
                           placeholder="Enter aspect ..."
                           value="{{ variables.character_aspect_1 is defined and variables.character_aspect_1 is not empty ? variables.character_aspect_1 : 'Enter aspect ...' }}"
                           name="character_aspect_1"
                    >
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md m-0 p-0">
                    <input type="text"
                           class="form-control m-0 p-0" id="character_aspect_2"
                           placeholder="Enter aspect ..."
                           value="{{ variables.character_aspect_2 is defined and variables.character_aspect_2 is not empty ? variables.character_aspect_2 : 'Enter aspect ...' }}"
                           name="character_aspect_2"
                    >
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md m-0 p-0">
                    <input type="text"
                           class="form-control m-0 p-0" id="character_aspect_3"
                           placeholder="Enter aspect ..."
                           value="{{ variables.character_aspect_3 is defined and variables.character_aspect_3 is not empty ? variables.character_aspect_3 : 'Enter aspect ...' }}"
                           name="character_aspect_3"
                    >
                </div>
            </div>
        </div>
        <div class="col-md border border-dark slightly-bigger-font">
            <div class="row">
                <div class="col-md-3 font-weight-bold">
                    Athletics
                </div>
                <div class="col-md-3">
                    +<input type="number"
                            placeholder=0
                            value="{{ variables.athletics is defined and variables.athletics is not empty ? variables.athletics : 0 }}"
                            name="athletics"
                            min=0
                            max=9
                > [roll:4dF+{{ variables.athletics is defined ? variables.athletics : 0}}]
                </div>
                <div class="col-md-3 font-weight-bold">
                    Lore
                </div>
                <div class="col-md-3">
                    +<input type="number"
                            placeholder=0
                            value="{{ variables.lore is defined and variables.lore is not empty ? variables.lore : 0 }}"
                            name="lore"
                            min=0
                            max=9
                > [roll:4dF+{{ variables.lore is defined ? variables.lore : 0}}]
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 font-weight-bold">
                    Burglary
                </div>
                <div class="col-md-3">
                    +<input type="number"
                            placeholder=0
                            value="{{ variables.burglary is defined and variables.burglary is not empty ? variables.burglary : 0 }}"
                            name="burglary"
                            min=0
                            max=9
                > [roll:4dF+{{ variables.burglary is defined ? variables.burglary : 0}}]
                </div>
                <div class="col-md-3 font-weight-bold">
                    Notice
                </div>
                <div class="col-md-3">
                    +<input type="number"
                            placeholder=0
                            value="{{ variables.notice is defined and variables.notice is not empty ? variables.notice : 0 }}"
                            name="notice"
                            min=0
                            max=9
                > [roll:4dF+{{ variables.notice is defined ? variables.notice : 0}}]
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 font-weight-bold">
                    Contacts
                </div>
                <div class="col-md-3">
                    +<input type="number"
                            placeholder=0
                            value="{{ variables.contacts is defined and variables.contacts is not empty ? variables.contacts : 0 }}"
                            name="contacts"
                            min=0
                            max=9
                > [roll:4dF+{{ variables.contacts is defined ? variables.contacts : 0}}]
                </div>
                <div class="col-md-3 font-weight-bold">
                    Physique
                </div>
                <div class="col-md-3">
                    +<input type="number"
                            placeholder=0
                            value="{{ variables.physique is defined and variables.physique is not empty ? variables.physique : 0 }}"
                            name="physique"
                            min=0
                            max=9
                > [roll:4dF+{{ variables.physique is defined ? variables.physique : 0}}]
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 font-weight-bold">
                    Crafts
                </div>
                <div class="col-md-3">
                    +<input type="number"
                            placeholder=0
                            value="{{ variables.crafts is defined and variables.crafts is not empty ? variables.crafts : 0 }}"
                            name="crafts"
                            min=0
                            max=9
                > [roll:4dF+{{ variables.crafts is defined ? variables.crafts : 0}}]
                </div>
                <div class="col-md-3 font-weight-bold">
                    Provoke
                </div>
                <div class="col-md-3">
                    +<input type="number"
                            placeholder=0
                            value="{{ variables.provoke is defined and variables.provoke is not empty ? variables.provoke : 0 }}"
                            name="provoke"
                            min=0
                            max=9
                > [roll:4dF+{{ variables.provoke is defined ? variables.provoke : 0}}]
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 font-weight-bold">
                    Deceive
                </div>
                <div class="col-md-3">
                    +<input type="number"
                            placeholder=0
                            value="{{ variables.deceive is defined and variables.deceive is not empty ? variables.deceive : 0 }}"
                            name="deceive"
                            min=0
                            max=9
                > [roll:4dF+{{ variables.deceive is defined ? variables.deceive : 0}}]
                </div>
                <div class="col-md-3 font-weight-bold">
                    Rapport
                </div>
                <div class="col-md-3">
                    +<input type="number"
                            placeholder=0
                            value="{{ variables.rapport is defined and variables.rapport is not empty ? variables.rapport : 0 }}"
                            name="rapport"
                            min=0
                            max=9
                > [roll:4dF+{{ variables.rapport is defined ? variables.rapport : 0}}]
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 font-weight-bold">
                    Drive / Ride
                </div>
                <div class="col-md-3">
                    +<input type="number"
                            placeholder=0
                            value="{{ variables.drive is defined and variables.drive is not empty ? variables.drive : 0 }}"
                            name="drive"
                            min=0
                            max=9
                > [roll:4dF+{{ variables.drive is defined ? variables.drive : 0}}]
                </div>
                <div class="col-md-3 font-weight-bold">
                    Resources
                </div>
                <div class="col-md-3">
                    +<input type="number"
                            placeholder=0
                            value="{{ variables.resources is defined and variables.resources is not empty ? variables.resources : 0 }}"
                            name="resources"
                            min=0
                            max=9
                > [roll:4dF+{{ variables.resources is defined ? variables.resources : 0}}]
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 font-weight-bold">
                    Empathy
                </div>
                <div class="col-md-3">
                    +<input type="number"
                            placeholder=0
                            value="{{ variables.empathy is defined and variables.empathy is not empty ? variables.empathy : 0 }}"
                            name="empathy"
                            min=0
                            max=9
                > [roll:4dF+{{ variables.empathy is defined ? variables.empathy : 0}}]
                </div>
                <div class="col-md-3 font-weight-bold">
                    Shoot
                </div>
                <div class="col-md-3">
                    +<input type="number"
                            placeholder=0
                            value="{{ variables.shoot is defined and variables.shoot is not empty ? variables.shoot : 0 }}"
                            name="shoot"
                            min=0
                            max=9
                > [roll:4dF+{{ variables.shoot is defined ? variables.shoot : 0}}]
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 font-weight-bold">
                    Fight
                </div>
                <div class="col-md-3">
                    +<input type="number"
                            placeholder=0
                            value="{{ variables.fight is defined and variables.fight is not empty ? variables.fight : 0 }}"
                            name="fight"
                            min=0
                            max=9
                > [roll:4dF+{{ variables.fight is defined ? variables.fight : 0}}]
                </div>
                <div class="col-md-3 font-weight-bold">
                    Stealth
                </div>
                <div class="col-md-3">
                    +<input type="number"
                            placeholder=0
                            value="{{ variables.stealth is defined and variables.stealth is not empty ? variables.stealth : 0 }}"
                            name="stealth"
                            min=0
                            max=9
                > [roll:4dF+{{ variables.stealth is defined ? variables.stealth : 0}}]
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 font-weight-bold">
                    Investigate
                </div>
                <div class="col-md-3">
                    +<input type="number"
                            placeholder=0
                            value="{{ variables.investigate is defined and variables.investigate is not empty ? variables.investigate : 0 }}"
                            name="investigate"
                            min=0
                            max=9
                > [roll:4dF+{{ variables.investigate is defined ? variables.investigate : 0}}]
                </div>
                <div class="col-md-3 font-weight-bold">
                    Will
                </div>
                <div class="col-md-3">
                    +<input type="number"
                            placeholder=0
                            value="{{ variables.will is defined and variables.will is not empty ? variables.will : 0 }}"
                            name="will"
                            min=0
                            max=9
                > [roll:4dF+{{ variables.will is defined ? variables.will : 0}}]
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 border mr-1 mb-1 large-font bg-dark text-white font-weight-bold border border-dark">
            Stunts
        </div>
        <div class="col-md border mb-1 large-font bg-dark text-white font-weight-bold border border-dark">
            Extras
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 border border-dark mr-1 mb-2 pt-1 slightly-bigger-font">
             <textarea
                     class="form-control mention"
                     id="stunts"
                     name="stunts"
                     rows="5"
                     placeholder="Enter your stunts here ...">
                 {{ variables.stunts is defined ? variables.stunts }}</textarea>

        </div>
        <div class="col-md border border-dark mb-2 pt-1 slightly-bigger-font">
            <textarea
                    class="form-control mention"
                    id="extras"
                    name="extras"
                    rows="5"
                    placeholder="Enter your extras here ...">
                 {{ variables.extras is defined ? variables.extras }}</textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 border mb-1 large-font bg-dark text-white font-weight-bold border border-dark mr-1">
            Stress
        </div>
        <div class="col-md border mb-1 large-font bg-dark text-white font-weight-bold border border-dark">
            Consequences
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 border border-dark mr-1 bigger-font">
            <div class="row">
                <div class="col-md pl-2 font-weight-bold">
                    Physical Stress
                </div>
                {% if variables.physical_stress_boxes is defined and variables.max_physical_stress_boxes is defined %}
                <div class="col-md">
                    <input value="{{ variables.physical_stress_boxes is defined ? variables.physical_stress_boxes }}"
                           class="m-0 p-0"
                           id="physical_stress_boxes"
                           name="physical_stress_boxes"
                           placeholder="0"
                           type="number"
                           min=0
                           max="{{ variables.max_physical_stress_boxes is defined ? variables.max_physical_stress_boxes : 2 }}"
                    >
                    /
                    {{ variables.max_physical_stress_boxes is not empty ? variables.max_physical_stress_boxes : 2}}
                </div>
                {% endif %}
            </div>
            <div class="row">
                <div class="col-md pl-2 font-weight-bold">
                    Mental Stress
                </div>
                {% if variables.mental_stress_boxes is defined and variables.max_mental_stress_boxes is defined %}
                <div class="col-md">
                    <input value="{{ variables.mental_stress_boxes is defined ? variables.mental_stress_boxes }}"
                           class="m-0 p-0"
                           id="mental_stress_boxes"
                           name="mental_stress_boxes"
                           placeholder="0"
                           type="number"
                           min=0
                           max="{{ variables.max_mental_stress_boxes is defined ? variables.max_mental_stress_boxes : 2 }}"
                    >
                    /
                    {{ variables.max_mental_stress_boxes is not empty ? variables.max_mental_stress_boxes : 2 }}
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col-md border border-dark bigger-font pr-0">
            <div class="row">
                <div class="col-md font-weight-bold">
                    Mild Consequence
                </div>
                <div class="col-md">
                    <input type="text"
                           class="form-control m-0 p-0" id="mild_consequence"
                           placeholder="..."
                           value="{{ variables.mild_consequence is defined and variables.mild_consequence is not empty ? variables.mild_consequence : '...' }}"
                           name="mild_consequence"
                    >
                </div>
            </div>
            {% if variables.mild_consequence_extra_active is defined and variables.mild_consequence_extra_active == 1 %}
            <div class="row">
                <div class="col-md font-weight-bold">
                    Mild Consequence (Extra)
                </div>
                <div class="col-md">
                    <input type="text"
                           class="form-control m-0 p-0" id="mild_consequence_extra"
                           placeholder="..."
                           value="{{ variables.mild_consequence_extra is defined and variables.mild_consequence_extra is not empty ? variables.mild_consequence_extra : '...' }}"
                           name="mild_consequence_extra"
                    >
                </div>
            </div>
            {% endif %}
            <div class="row">
                <div class="col-md font-weight-bold">
                    Moderate Consequence
                </div>
                <div class="col-md">
                    <input type="text"
                           class="form-control m-0 p-0" id="moderate_consequence"
                           placeholder="..."
                           value="{{ variables.moderate_consequence is defined and variables.moderate_consequence is not empty ? variables.moderate_consequence : '...' }}"
                           name="moderate_consequence"
                    >
                </div>
            </div>
            <div class="row">
                <div class="col-md font-weight-bold">
                    Severe Consequence
                </div>
                <div class="col-md">
                    <input type="text"
                           class="form-control m-0 p-0" id="severe_consequence"
                           placeholder="..."
                           value="{{ variables.severe_consequence is defined and variables.severe_consequence is not empty ? variables.severe_consequence : '...' }}"
                           name="severe_consequence"
                    >
                </div>
            </div>
        </div>
    </div>
</div>